body {
	line-height: 1;
}

header {
	text-align: center;
	background-size: cover;
	background: url("https://img.shockblast.net/2014/02/Pattern-Library-ShockBlast.jpg");
	color: white;
}

img {
	height: 214px;
	width: 214px;
}

ul {
	padding: 10px;
	background: #00BAD8;
}

ul, menu, dir {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

element.style {

}

.profile {
	margin-top: 50px;
	border: 7px solid-white;
	border-radius: 30px;
	height: 200px;
	width: 200px;
}